.navbar {
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    background-color: #6f6fde
}

.navv{
    display: flex;
    gap: 23px;
    justify-content: center;
    align-items: center;
}

.nav-link{
    text-decoration: none;
}